doctype html
html
  head
    block head
      title= Title
      meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
      script(src="https://kit.fontawesome.com/3a5434dd0b.js", crossorigin="anonymous")
      link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
