html
head
  title Title
  meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
  link(href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css", rel="stylesheet")
body
  div.container
    .card(style = "margin-top: 5%;")
      p= body.name
      p= body.age
      p= body.gender
